h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
  }
  
  p {
    font-family: Georgia, serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  
  .large {
    font-size: 24px;
  }
  
  .italic {
    font-style: italic;
  }
  
  .line-through {
    text-decoration: line-through;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .blue {
    color: blue;
  }
  