* {
    margin: 0;
}

body {
    padding: 20px 200px 20px 200px;
}

.para > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.para > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: justify;
}

.para > hr {
    border-style: solid;
    color: red;
    border-width: 1px;
}

img {
    width: 550px;
    float: left;
    margin: 30px;
    border-style: solid;
    border-width: 5px;
}

#right {
    float: right;
}