
body {
    margin: 0;
    padding: 0;
    font-family: Haettenschweiler;
    background-color: #15116d;
  }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #15116d;
    height: 100px;
  }

a {
    text-decoration: none;
}

header h1 {
    color: rgb(238, 222, 127);
}

header img {
    height: 100px;
}

nav {
    font-size: large;
    display: flex;
    background-color: rgb(238, 222, 127);
}
  
nav a {
    margin-left: 20px;
    margin-right: 20px;
    color: #15116d;
    font-weight: bold;
}

nav a:hover {
    background-color: white;
}

article {
    margin: 10px;
    border: 5px rgb(238, 222, 127) solid;
    background-color: rgb(238, 222, 127) ;
}

article img {
    width: 400px;
}

article h2 {
    padding-left: 10px;
}

article p {
    padding-left: 10px;
}

.button {
    float: left;
    margin-left: 10px;
    background-color: #D4AF37;
    color: #fff;
    border: none;
    padding: 7px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
.button:hover {
    background-color: #B8860B;
    cursor: pointer;
}
  

footer{
 
    text-align: center;
    padding-top: 7px;
    background-color: black;
    color: white;
    height: 30px;
}

