body {
  background-color: #DCDCDC;
}

h1 {
  color: #F273F4;
  margin-left: 20px;
}

#p1 {
  color: #FFFF00;
  text-align: right;
  font-size: 50px;
}

#name {
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}