/*
Lab 14: Website Layout
Group:
1. Name: SALINI RAVINTHIRAN, Matrix No: A22EC0267, Github ID: Salini1
2. Name: NUR ARINI FATIHAH BINTI MOHD SABIR, Matrix No: A22EC0244, Github ID: arinifthh
3. Name: NAVASARATHY S.GANESWARAN, Matrix No: A22EC0091, Github ID: Navasarathy
4. Name: VINESH A/L VIJAYAKUMAR , Matrix No: A22EC0290, Github ID: vinesh06*/

body:nth-of-type(1) {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
}

.img1 {
  float: left;
  margin-right: 20px;
  padding-bottom: 18px;
  width: 25%;
  height: auto;
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

nav {
  background-color: #000;
  padding: 0.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  width: 100%;
  list-style: none;
  margin: 1px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  width: 200px;
}

.column {
  flex: 2;
}

.column:first-child {
  flex: 8;
  padding-right: 30px;
}

.column2 {
  flex-basis: calc(50% - 0.5px);
  margin-bottom: 1px;
}

img {
  width: 100%;
  display: block;
}

.pimg1 {
  background-image: url(../images/mal1.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;

}

.border {
  background-color: rgb(65, 65, 65);
  padding: 10px;
}

.trans {
  background-color: rgba(128, 128, 128, 0);
  font-size: 30px;
}

.ptext {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 0.4em;
}

section.section-light{
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.section-dark{
  text-align: center;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }


.pimg2 {
  background-image: url(../images/mal2.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px;

}

.pimg3 {
  background-image: url(../images/mal3.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 200px;
}

.section-light {
  padding-bottom: 40px;
  background-color: white;
  color: rgb(65, 65, 65);
}

.section-dark {
  padding-bottom: 40px;
  background-color: rgb(65, 65, 65);
  color: white;
  overflow-y: auto;
}

#showcase {
  background-image: url(../images/mal4.jpeg);
  background-size: 100%;
  padding: 300px;
  color: orange;
  text-align: center;
}

#pshowcase{
  padding-top: 0px;
  padding-bottom: 15px;
}

.button {
  text-decoration: none;
  border-style: groove;
  border-width: 1.5px;
  border-color: red;
  padding: 15px;
  color: greenyellow;
  border-radius: 10px;
}

#section-a {
  background-color: rgb(0, 195, 255);
  color: yellow;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#section-b {
  background-color: blue;
  color: rgb(248, 184, 66);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#section-c {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: -webkit-flex;
  display: flex;
}

.box-1 {
  background-color: aqua;
  color: rgb(230, 37, 230);
  padding: 20px;
  -webkit-flex: 1.11;
  -ms-flex: 1.11;
  flex: 1.11;
}

.box-2 {
  background-color: rgb(255, 51, 0);
  color: rgb(255, 193, 77);
  padding: 20px;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}

.box-3 {
  background-color: aqua;
  color: rgb(230, 37, 230);
  padding: 20px;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}

