
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .flex-item {
    background-color: #ccc;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    flex-basis: calc(33.33% - 20px);
  }