/* Type selector styles */
h1 {
    color: rgb(216, 168, 9);
  }
  
  p {
    font-size: 20px;
  }
  
  /* Class selector styles */
  .text {
    color: rgb(136, 136, 170);
  }
  
  .heading {
    font-weight: bold;
  }
  
  /* ID selector styles */
  #special-text {
    font-style: arial;
  }
  
  /* Specificity demonstration styles */
  .text#special-text {
    color: yellow;
    font-size: 30px;
  }
