.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 4fr;
  grid-gap: 20px;
  height: 100vh;
}

.header {
  grid-column: 1 / 4;
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
}

.header2 {
  grid-column: 1 / span 3;
  background-color: #62349a;
  color: #ffffff;
  padding: 20px;
  border-color: black;
  border-style: solid;
}

.main {
  grid-column: 1 / 2;
  background-color: #9a5353;
  padding: 20px;
}

.sidebar {
  grid-column: 4 / 2;
  background-color: #5585cd;
  padding: 20px;
}

.footer {
  grid-column: 1 / 4;
  background-color: #f1fcab;
  color: #ffffff;
  padding: 20px;
}

.red{
  background-color: lightcoral;
  padding: 20px;
  border-color: #333333;
  border-style: solid;
}
.green{
  background-color: lightgreen;
  padding: 20px;
  border-color: #333333;
  border-style: solid;
}
.mustard{
  background-color: goldenrod;
  padding: 20px;
  border-color: #333333;
  border-style: solid;
}